---
import PageLayout from '../layouts/PageLayout.astro';
import Navbar from '@/components/Navbar.astro';
---

<PageLayout title="Polaris Charge">
  <main class="container mx-auto p-6">
    <Navbar />
  </main>
</PageLayout>
