---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Polaris Charge">
  <div class="flex flex-row flex-1">
    <div class="flex flex-col flex-auto items-center justify-center">
      Plug In
    </div>
    <div class="flex flex-col flex-auto items-center justify-center">
      Tap Card
    </div>
    <div class="flex flex-col flex-auto items-center justify-center">
      Charge
    </div>
  </div>
</PageLayout>
