---
import Navbar from '../components/Navbar.astro';
import { Icon } from 'astro-icon/components';
import PageLayout from '@/layouts/PageLayout.astro';
---

<PageLayout title="Polaris Express">
  <main class="flex flex-col p-6 h-full">
    <Navbar />

    <section class="flex flex-col items-center justify-center gap-8 text-center flex-1">
      <h1 class="text-4xl font-semibold">Welcome to Polaris Express</h1>
      <p class="text-xl text-gray-400 max-w-2xl">
        To begin charging your vehicle, scan the QR code on your charging station or click the scan
        button in the top-right corner.
      </p>
    </section>
  </main>
</PageLayout>
