---
import PageLayout from '../layouts/PageLayout.astro';
import { ChargerStatusBar } from '../components/charger/ChargerStatusBar';
---

<PageLayout title="Polaris Charge">
  <div class="flex flex-row w-full h-full">
    <div class="flex flex-col flex-auto items-center justify-center">
      Plug In
    </div>
    <div class="flex flex-col flex-auto items-center justify-center">
      Tap Card
    </div>
    <div class="flex flex-col flex-auto items-center justify-center">
      Charge
    </div>
  </div>
  <ChargerStatusBar client:load />
</PageLayout>
