---
import Backdrop from './background/Backdrop.astro';
import { Icon } from 'astro-icon/components';
import Button from './Button.astro';

const { pathname } = Astro.url;
const currentPath = pathname.split('/')[1];
---

<div
  class="fixed top-4 left-4 right-0 pl-0 md:pl-6 px-6 pr-2 flex justify-between items-center"
>
  <h1 class="ml-4 text-4xl font-display text-charge-blue" data-aos="fade-right">
    Polaris Charge
  </h1>

  <nav>
    <Button path="contact">
        Pay <Icon name="fa/chevron-right" class="text-lg" />
    </Button>
  </nav>
</div>
