---
import { Icon } from 'astro-icon/components';
import { ChargerButton } from './charger/ChargerButton';

interface Props {
  chargerId: string;
}

const { chargerId } = Astro.props;
---

<div class="flex flex-none justify-between items-center">
  <h1 class="text-4xl font-display text-charge-blue" data-aos="fade-right">
    <Icon name="wordmark" class="text-6xl hidden md:block" />
    <Icon name="logo" class="text-6xl block md:hidden" />
  </h1>

  <nav>
    <ChargerButton client:load {chargerId} />
  </nav>
</div>
