---
import { Icon } from 'astro-icon/components';
import { ChargerButton } from './charger/ChargerButton';
import Button from './Button.astro';

interface Props {
  chargerId: string;
}

const { chargerId } = Astro.props;
---

<div class="flex flex-none justify-between items-center">
  <h1 class="text-4xl font-display text-charge-blue" data-aos="fade-right">
    <Icon name="wordmark" class="text-6xl hidden md:block" />
    <Icon name="logo" class="text-6xl block md:hidden" />
  </h1>

  <nav class="flex flex-row gap-4">
    <ChargerButton client:load {chargerId} />
    <Button path="/scan" class="text-3xl">
      <Icon name="fa/scan-button-color" />
    </Button>
  </nav>
</div>
