---
import Backdrop from './background/Backdrop.astro';
import { Icon } from 'astro-icon/components';
import Button from './Button.astro';

const { pathname } = Astro.url;
const currentPath = pathname.split('/')[1];
---

<div
  class="fixed top-4 left-4 right-0 px-6 flex justify-between items-center"
>
  <h1 class="text-4xl font-display text-charge-blue" data-aos="fade-right">
    <Icon name="wordmark" class="text-6xl" />
  </h1>

  <nav>
    <Button path="contact">
        Charge <Icon name="fa/chevron-right" class="text-lg" />
    </Button>
  </nav>
</div>
