---
import ChargerPageLayout from '@/layouts/ChargerPageLayout.astro';

const { id } = Astro.params;
if (!id) {
  return Astro.redirect('/');
}
---

<ChargerPageLayout title="Polaris Charge" chargerId={id}>
  <div class="flex-1 flex flex-col items-center justify-center gap-4">
    <div class="flex flex-col items-center justify-center gap-4 text-center">
      <h2 class="text-4xl font-display">Welcome to Polaris Charge</h2>
      <p class="text-xl">Charging made easy.</p>
    </div>
  </div>
</ChargerPageLayout>
